<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.css') }}">`
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron {
      background-color: #f4511e; /* Orange */
      color: #ffffff;
      padding: 100px 25px;
    }
    .container-fluid {
      padding: 60px 50px;
    }
    .logo-small {
        color: #f4511e;
        font-size: 50px;
        }

        .logo {
        color: #f4511e;
        font-size: 200px;
       }
    </style>
<body>
    <div class="jumbotron">
    <div class="jumbotron text-center">
    <h1>Scheduler <br>fiserv.engage.spaceiq.com </h1>
    </div>
    <div class="container">
    <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Space ID</th>
                    <th>Refresh Token</th>
                    <th id="removeHeader">Remove</th>
                </tr>
                </thead>
                <tbody>
                <!-- Rows to display existing records -->
                {% for record in records %}
                    <tr>
                        <td>{{ record.email }}</td>
                        <td>{{ record.space_id }}</td>
                        <td>
                            <form class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="token" value="hidden" id="token{{ loop.index }}" placeholder="Token">
                                <button type="button" class="btn btn-danger"
                                        onclick="updateToken('{{ record.email }}', '{{ record.space_id }}', document.getElementById('token{{ loop.index }}').value)">
                                    Edit
                                </button>
                            </div>
                        </form>

                        </td>
                      
                    </tr>
                {% endfor %}
                <!-- Last row for adding new record -->
                <tr class="submit-form">
                    <td><input type="text" name="email"></td>
                    <td><input type="text" name="space_id"></td>
                    <td><input type="text" name="token"></td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="submitForm()">Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
<p>
    <span>Contact: <a href="mailto:marcin.debiec@fiserv.com">Dębiec</a> </span>
    <br>
    <span>Program and manual: <a href="/program">booking-tool.zip</a> </span>
</p>

<a href="#logs" class="btn btn-info" data-toggle="collapse">Logs</a>
<div id="logs" class="collapse">
    <span style="white-space: pre; font-size: 13px; font-style: italic;">{{ logs }}</span>
</div>
    
</div>
<script>
    function submitForm() {
        var email = document.querySelector(".submit-form input[name='email']").value;
        var space_id = document.querySelector(".submit-form input[name='space_id']").value;
        var token = document.querySelector(".submit-form input[name='token']").value;

        var data = {
            email: email,
            space_id: space_id,
            token: token
        };

        fetch('/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle response if needed
                window.location.reload(); // Refresh page after saving
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function updateToken(email, space_id, token) {
        var data = {
            email: email,
            space_id: space_id,
            token: token
        };

        fetch('/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle response if needed
		window.location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function removeRecord(email, space_id) {
        var filename = email + '_' + space_id + '.json';
        fetch('/remove', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({filename: filename})
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle response if needed
                window.location.reload(); // Refresh page after removing
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function removable() {
        var removeButtons = document.querySelectorAll('[id^="removeButton"]');
        var removeHeader = document.getElementById('removeHeader');
        if (removeButtons && removeButtons.length > 0) {
            if (removeButtons[0].style.display === "none") {
                removeHeader.style.display = "table-cell";
                for (var i = 0; i < removeButtons.length; i++) {
                    removeButtons[i].style.display = "table-cell";
                }
            } else {
                removeHeader.style.display = "none";
                for (var i = 0; i < removeButtons.length; i++) {
                    removeButtons[i].style.display = "none";
                }
            }
        }
    }
</script>
</div>
</body>
</html>
